absl-py==1.4.0
altair==5.2.0
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens==2.2.1
astunparse==1.6.3
async-lru
attrs
Babel
backcall==0.2.0
beautifulsoup4
bleach
blinker==1.7.0
Brotli
cached-property
cachetools==5.3.1
catboost==1.2.2
certifi
cffi
chardet==5.2.0
charset-normalizer==2.0.0
clarabel==0.6.0
click==8.1.7
cloudpickle==3.0.0
colorama
comm
contourpy==1.1.0
cvxopt==1.3.2
cvxpy==1.4.1
cycler==0.11.0
debugpy
decorator
defusedxml
ecos==2.0.12
entrypoints
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==1.2.0
fancyimpute==0.7.0
fastjsonschema
filelock==3.12.2
flatbuffers==23.5.26
fonttools==4.42.1
fqdn
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
graphviz==0.20.1
grpcio==1.57.0
h5py==3.9.0
idna==3.4
imbalanced-learn==0.11.0
imblearn==0.0
importlib-metadata==6.11.0
importlib-resources
iniconfig==2.0.0
ipykernel==6.25.1
ipython==8.14.0
isoduration
jedi==0.19.0
Jinja2
joblib==1.3.2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client==8.3.1
jupyter_core==5.3.1
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras==2.13.1
kiwisolver==1.4.4
knnimpute==0.1.0
libclang==16.0.6
llvmlite==0.41.0
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe
matplotlib==3.7.2
matplotlib-inline
mdurl==0.1.2
mistune
mpmath==1.3.0
nbclient
nbconvert
nbformat
nest-asyncio==1.5.7
networkx==3.1
nose==1.3.7
notebook
notebook_shim
numba==0.58.0
numpy==1.24.3
oauthlib==3.2.2
openpyxl==3.1.2
opt-einsum==3.3.0
osqp==0.6.3
overrides
packaging==23.1
pandas==1.3.4
pandocfilters
parso
patsy==0.5.3
pickleshare
Pillow==10.0.0
pkgutil_resolve_name
platformdirs==3.10.0
plotly==5.18.0
pluggy==1.3.0
prometheus-client
prompt-toolkit==3.0.39
protobuf==4.24.1
psutil
pure-eval
pyarrow==14.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser
pydeck==0.8.1b0
pydot==1.4.2
Pygments==2.16.1
pyparsing==3.0.9
PySocks
pytest==7.4.3
python-dateutil
python-json-logger
pytz==2023.3
pywin32==305.1
pywinpty
PyYAML
pyzmq
qdldl==0.1.7.post0
referencing
requests
requests-oauthlib==1.3.1
rfc3339-validator
rfc3986-validator
rich==13.7.0
rpds-py
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.2
scs==3.2.3
seaborn==0.12.2
Send2Trash
shap==0.43.0
six
sklearn==0.0.post7
slicer==0.0.7
smmap==5.0.1
sniffio
soupsieve
stack-data
statsmodels==0.14.0
streamlit==1.29.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
terminado
threadpoolctl==3.2.0
tinycss2
toml==0.10.2
tomli
toolz==0.12.0
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tornado
tqdm==4.66.1
traitlets
types-python-dateutil
typing-utils
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==5.2
uri-template
urllib3==1.26.16
validators==0.22.0
watchdog==3.0.0
wcwidth
webcolors
webencodings
websocket-client
Werkzeug==2.3.7
win-inet-pton
wrapt==1.15.0
xgboost==2.0.0
xlrd==2.0.1
zipp
